@model ProyectoValhallaFrontEnd.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAgendaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAgendaNavigation.IdAgenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicioNavigation.IdServicio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReserva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
